
```
DS1(config)#do show vlan brief
```
![image](https://github.com/user-attachments/assets/130ff13c-baad-4c07-b168-2e9c3e75f242)

---
```
DS1(config)#do show etherchannel summary | begin Group
```
![image](https://github.com/user-attachments/assets/b59a4c56-c5a6-4448-bf64-3e329abd21bb)

---
```
DS1(config)#do show interfaces trunk
```
![image](https://github.com/user-attachments/assets/ab620d1b-1d20-4110-b93d-69f4dba7049c)

---
```
DS1(config)#do show etherchannel protocol
```
![image](https://github.com/user-attachments/assets/83ec362c-8116-49f1-b878-3d96898fb0df)

---
```
DS1(config)#do show etherchannel 1 port-channel
```
![image](https://github.com/user-attachments/assets/bf355b0e-ad1a-4589-b38b-daf865b7727e)
